.footer {
  color: #fff;
  background-color: #292929;
  .footer__form {
    padding: 60px 0;

    .footer__col {
      .footer__nav {
        font-size: 30px;
        .nav__item {
          .nav__link {
            font-size: 18px;
            color: #fff;
            opacity: 0.7;
            cursor: pointer;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
      .email {
        margin-top: 10px;
        background-color: #fff;
        display: inline-block;
        padding: 8px;
        position: relative;
        z-index: 1;
        .email__btn {
          border: none;
          width: 200px;
          outline: none;
        }
        .submit__btn {
          display: none;
        }
        .email__label {
          cursor: pointer;
          background-image: url(../img/Button.png);
          height: 100%;
          width: 20%;
          position: absolute;
          z-index: 5;
          background-repeat: no-repeat;
          top: 0;
        }
      }
    }
  }
  .copyright {
    padding: 25px 0;
    border-top: 1px solid #c3c3c3;
    .copyright__info {
      margin-bottom: 0;
    }
  }
}


.service__footer{
  padding: 40px 0 50px;
  border-top: 1px solid #f58632;
  .serviceForm{
    h4{
      font-size: 30px;
      margin-bottom: 20px;
    }
    address{
      line-height: 35px;
      color: #3e3e3f;
      font-size: 20px;
    }
    .phone-number{
      margin-bottom: 20px;
    }
    .number{
      flex-direction: column;
      margin-left: 20px;
      a{
        color: #3e3e3f;
        font-size: 20px;
      }

    }
    .email {
      .eamilAddress {
        display: block;
        margin-left: 20px;
        max-width: 530px;


      }
    }
    input,textarea{
      margin: 10px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid gray;
      max-width: 530px;
    }
    .fill-details{
      max-width: 565px;
      }
      .name .col-6{
        padding: 0 10px;
      }

      input[name="firstname"],input[name="lasttname"] {
        width: 100%;
        margin: 10px 0;
      }
      .btn{
        padding: 10px;
      }
      .socialIcon{
        background: gray;
        color: #fff;
        border-radius: 50%;
        font-size: 23px;
        margin: 10px;
        height: 50px;
        width: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        cursor: pointer;
        transition: all 0.2s linear;

        &:hover{
          background: $yellow;
        }
    }
    .allpayments{
      img{
        margin: 0 20px;
      }
    }
    .payment-hr{
      // margin: 60px 0 40px;
    }
  }
  .payment-hr{
    border-top: 1px solid #9c9c9c;
    max-width: 700px;
  }
}
.copyrightSection{
  background-color: #19252d;
  padding: 20px 0;
  color: #979797;
  .copyright{
    text-align: center;
    p{
      margin: 0;
    }
  }
}