
.heading,
.section__heading {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 30px;
}

.btn {
  font-size: 18px;
  padding: 13px 20px 13px 47px;
  color: #fff;
  background-color: #f58632;
  position: relative;
}

.btn:hover {
  color: #fff;
  background-color: #ef6700;
}

.btn--outline {
  color: #f58632;
  border: 1px solid #f58632;
  background-color: transparent;
}

.btn--outline:hover {
  color: #f58632;
  border: 1px solid #f58632;
  background-color: transparent;
}

.pulse {
  display: inline-block;
  width: 22px;
  position: absolute;
  left: 15px;
  top: 16px;
  height: 22px;
  border-radius: 50%;
  border: 4px solid #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 #fff;
          box-shadow: 0 0 0 #fff;
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
}

.btn:hover.pulse {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #fff;
            box-shadow: 0 0 0 0 #fff;
    opacity: 0.4;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(191, 82, 0, 0);
            box-shadow: 0 0 0 10px rgba(191, 82, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(191, 82, 0, 0);
            box-shadow: 0 0 0 0 rgba(191, 82, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #fff;
            box-shadow: 0 0 0 0 #fff;
    opacity: 0.4;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(191, 82, 0, 0);
            box-shadow: 0 0 0 10px rgba(191, 82, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(191, 82, 0, 0);
            box-shadow: 0 0 0 0 rgba(191, 82, 0, 0);
  }
}

.pulse--white {
  display: inline-block;
  width: 22px;
  position: absolute;
  left: 15px;
  top: 16px;
  height: 22px;
  border-radius: 50%;
  border: 4px solid #ef6700;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 #ef6700;
          box-shadow: 0 0 0 #ef6700;
  -webkit-animation: pulse2 1.5s infinite;
          animation: pulse2 1.5s infinite;
}

@-webkit-keyframes pulse2 {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ef6700;
            box-shadow: 0 0 0 0 #ef6700;
    opacity: 0.7;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(191, 82, 0, 0);
            box-shadow: 0 0 0 10px rgba(191, 82, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(191, 82, 0, 0);
            box-shadow: 0 0 0 0 rgba(191, 82, 0, 0);
  }
}

@keyframes pulse2 {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ef6700;
            box-shadow: 0 0 0 0 #ef6700;
    opacity: 0.7;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(191, 82, 0, 0);
            box-shadow: 0 0 0 10px rgba(191, 82, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(191, 82, 0, 0);
            box-shadow: 0 0 0 0 rgba(191, 82, 0, 0);
  }
}

.btn--rounded {
  border-radius: 50px;
}

header {
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
  -webkit-box-shadow: 0 5px 6px -6px #ccc;
          box-shadow: 0 5px 6px -6px #ccc;
}

header .nav .navbar {
  margin-bottom: 0;
  padding: 0;
}

header .nav .navbar .nav__item {
  margin-left: 60px;
}

header .nav .navbar .nav__item .nav__link {
  font-size: 18px;
  font-weight: 400;
  position: relative;
}

header .nav .navbar .nav__item .nav__link:hover {
  color: #f58632;
}

header .nav .navbar .nav__item .nav__link:hover::after {
  color: #f58632;
  width: 100%;
}

header .nav .navbar .nav__item .nav__link::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 0;
  bottom: -5px;
  height: 1px;
  background: #f58632;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.humburger__icon {
  height: 5px;
  width: 50px;
  background-color: #000;
  position: absolute;
  top: 0;
}

.banner {
  padding-bottom: 50px;
}

.banner .banner__head .Notice {
  background: #fef3ea;
  border: 2px solid #f58632;
  padding: 10px 20px;
  width: 65%;
  margin: 30px auto 0;
  border-radius: 60px;
}

.banner .banner__head .Notice .btn {
  padding: 10px 30px;
}

.banner .banner__head .Notice .title {
  margin-bottom: 0;
}

.banner .banner__body .left__side .btn--first {
  margin-right: 20px;
}

.banner .banner__body .left__side .heading,
.banner .banner__body .left__side .section__heading {
  margin-bottom: 0;
  font-size: 45px;
  padding-top: 30px;
}

.banner .banner__body .left__side .disc {
  padding: 25px 0;
  font-size: 20px;
}

.banner .banner__body .right__side .banner__img {
  position: relative;
  right: 60px;
  max-width: 920px;
  width: 100%;
}

.banner .banner__body .navbar-toggle-icon {
  display: none;
}

.banner .banner__body .navbar-toggle-icon {
  position: relative;
  width: 22px;
  height: 14px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.banner .banner__body .navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.facility__section {
  padding: 100px 0 200px;
  min-height: 200px;
}

.facility__section .facility {
  margin: 0;
}

.facility__section .facility .content {
  text-align: center;
}

.facility__section .facility .facility__wrapper {
  position: relative;
}

.facility__section .facility .facility__wrapper .facility__title {
  font-size: 25px;
  font-weight: 400;
  position: relative;
  bottom: -35px;
}

.facility__section .facility .icon--small {
  margin-bottom: 15px;
}

.facility__section .facility .midLine {
  position: relative;
  top: 0;
  left: 75px;
  z-index: 5;
}

.welcome .welcome__section {
  margin: auto;
}

.welcome .section__left {
  margin-bottom: 0;
}

.welcome .section__left .card__wrapper {
  padding: 20px;
}

.welcome .section__left .card__wrapper .card {
  -webkit-box-shadow: 1px 1px 20px 5px #fbf7f5;
          box-shadow: 1px 1px 20px 5px #fbf7f5;
  border: none;
  display: inline-block;
  max-width: 400px;
  padding: 30px;
}

.welcome .section__left .card__wrapper .card .card__title {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.welcome .section_right {
  padding-left: 50px;
}

.welcome .section_right .section__heading {
  font-size: 45px;
  margin-bottom: 0;
  min-height: 170px;
  padding-bottom: 50px;
}

.welcome .section_right .heading--large {
  font-size: 70px;
  color: #f58632;
}

.welcome .section_right .heading--black {
  font-size: 70px;
}

.welcome .section_right .section__disc {
  font-size: 22px;
  line-height: 50px;
  color: #292929;
  opacity: 0.9;
}

.services2 {
  background-color: #f8f8f8;
  background-image: url(../img/Clip.png);
  background-repeat: no-repeat;
  background-position: right;
}

.services2 .section__head .title .title__txt {
  font-size: 30px;
}

.services2 .section__head .disc {
  padding: 20px 0 65px;
  font-size: 20px;
  margin-bottom: 0;
}

.services2 .section__body {
  background-color: transparent;
}

.services2 .section__body .card {
  border: none;
  padding-bottom: 35px;
  background-color: transparent;
}

.services2 .section__body .card .card__wrapper {
  -webkit-box-shadow: 1px 1px 20px 5px #fbf7f5;
          box-shadow: 1px 1px 20px 5px #fbf7f5;
  border: 1px solid #bbbbbb;
  display: inline-block;
  background-color: #fff;
  max-width: 360px;
  padding: 30px;
  border-radius: 10px;
  height: 250px;
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.services2 .section__body .card .card__wrapper:hover {
  border: 1px solid #000;
}

.services2 .section__body .card .card__wrapper .title {
  position: relative;
  cursor: pointer;
}

.services2 .section__body .card .card__wrapper .title:hover.card__title::after {
  -webkit-transform: translatex(10px);
          transform: translatex(10px);
  opacity: 1;
}

.services2 .section__body .card .card__wrapper .title::after {
  content: "";
  background-image: url(../img/right-arrow.png);
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: translatex(-20px);
          transform: translatex(-20px);
  opacity: 0;
  top: 8px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.services2 .section__body .card .card__wrapper .card__head {
  padding-bottom: 20px;
}

.services2 .section__body .card .card__wrapper .card__head .card__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
}

.services2 .section__body .software {
  -webkit-box-shadow: 1px 1px 20px 5px #fbf7f5;
          box-shadow: 1px 1px 20px 5px #fbf7f5;
  border: 1px solid #bbbbbb;
  background-color: #fff;
  border-radius: 10px;
  max-width: 360px;
  padding: 10px;
  height: 73px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.services2 .section__body .software:hover {
  border: 1px solid #000;
}

.services2 .section__body .software .title {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}

.services2 .section__body .software .title:hover.title::after {
  opacity: 1;
  -webkit-transform: translatex(10px);
          transform: translatex(10px);
}

.services2 .section__body .software .title::after {
  content: "";
  background-image: url(../img/right-arrow.png);
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 8px;
  -webkit-transform: translatex(-20px);
          transform: translatex(-20px);
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.services2 .section__body .software--mid {
  background-color: #fff;
  margin: 15px 0;
  max-height: 73px;
}

.services2 .section__body .ourService .main__service {
  padding-bottom: 40px;
}

.services2 .section__body .ourService .main__service .icon {
  margin-right: 10px;
}

.services2 .section__body .ourService .main__service .title {
  font-size: 20px;
  font-weight: 400;
}

.services2 .section__body .service {
  padding-bottom: 20px;
}

.services2 .section__body .service .title {
  font-size: 18px;
  font-weight: 200;
}

.services2 .section__body .service .icon {
  margin-right: 10px;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(1.2turn);
            transform: rotate(1.2turn);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(1.2turn);
            transform: rotate(1.2turn);
  }
}

.card--rotate {
  position: relative;
  z-index: 0;
  width: auto;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
}

.card--rotate::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 50%, 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58532), to(#f58532));
  background-image: linear-gradient(#f58532, #f58532);
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
}

.card--rotate::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 2px;
  top: 2px;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  background: white;
  border-radius: 5px;
}

.card--rotate-long {
  position: relative;
  z-index: 0;
  width: auto;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
}

.card--rotate-long::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -20%;
  top: -135%;
  width: 140%;
  height: 400%;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 50%, 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58532), to(#f58532));
  background-image: linear-gradient(#f58532, #f58532);
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
}

.card--rotate-long::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 2px;
  top: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: white;
  border-radius: 5px;
}

.portfolio .section__head {
  padding: 50px 0;
  line-height: 40px;
}

.portfolio .section__head .title {
  font-size: 45px;
  font-weight: 400;
}

.portfolio .section__head .title--change {
  color: #f58632;
}

.portfolio .section__head .disc {
  font-size: 25px;
  font-weight: 200;
  line-height: 40px;
}

.portfolio .section__body .heading,
.portfolio .section__body .section__heading {
  position: absolute;
  padding: 60px 0 25px;
  color: #fff;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 0;
}

.portfolio .portfolio__img {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.portfolio .slick-prev {
  background: transparent;
  left: 100px;
  z-index: 5;
}

.portfolio .slick-next {
  background: transparent;
  right: 100px;
}

.technology .technology__wrapper {
  background-color: #292929;
}

.technology .technology__wrapper .technology__img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.contactUs {
  background-image: url("../img/contactus__bg.jpg");
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 75px;
}

.contactUs .contactUs__wrapper {
  margin-left: auto;
}

.contactUs .contactUs__wrapper .wrapper__title {
  font-size: 30px;
  font-weight: 400;
  position: relative;
  left: 68px;
}

.contactUs .contactUs__wrapper .wrapper__title::before {
  content: "";
  height: 45px;
  width: 45px;
  background-color: #f58632;
  position: absolute;
  left: -63px;
}

.contactUs .contactUs__wrapper .wrapper__heading {
  font-size: 45px;
  font-weight: 400;
  padding: 25px 0 30px;
}

.contactUs .contactUs__wrapper .wrapper__info {
  font-size: 18px;
}

.contactUs .contactUs__wrapper .country {
  padding: 20px 0;
}

.contactUs .contactUs__wrapper .country .country__img {
  padding: 7px;
  border: 8px solid transparent;
  border-radius: 50%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.contactUs .contactUs__wrapper .country .country__img:hover {
  border: 8px solid #f58632;
}

.contactUs .contactUs__wrapper .address .country {
  font-size: 35px;
}

.contactUs .contactUs__wrapper .address .place {
  font-size: 20px;
  padding: 30px 0;
  line-height: 35px;
}

.contactUs .contactUs__wrapper .address .title {
  font-size: 20px;
  padding-left: 20px;
}

.contactUs .contactUs__wrapper .address .email {
  padding-bottom: 25px;
}

.footer {
  color: #fff;
  background-color: #292929;
}

.footer .footer__form {
  padding: 60px 0;
}

.footer .footer__form .footer__col .footer__nav {
  font-size: 30px;
}

.footer .footer__form .footer__col .footer__nav .nav__item .nav__link {
  font-size: 18px;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
}

.footer .footer__form .footer__col .footer__nav .nav__item .nav__link:hover {
  opacity: 1;
}

.footer .footer__form .footer__col .email {
  margin-top: 10px;
  background-color: #fff;
  display: inline-block;
  padding: 8px;
  position: relative;
  z-index: 1;
}

.footer .footer__form .footer__col .email .email__btn {
  border: none;
  width: 200px;
  outline: none;
}

.footer .footer__form .footer__col .email .submit__btn {
  display: none;
}

.footer .footer__form .footer__col .email .email__label {
  cursor: pointer;
  background-image: url(../img/Button.png);
  height: 100%;
  width: 20%;
  position: absolute;
  z-index: 5;
  background-repeat: no-repeat;
  top: 0;
}

.footer .copyright {
  padding: 25px 0;
  border-top: 1px solid #c3c3c3;
}

.footer .copyright .copyright__info {
  margin-bottom: 0;
}

@font-face {
  font-family: "BrandonText-Light";
  src: url("../fonts/BrandonText-Light.eot");
  src: local("☺"), url("../fonts/BrandonText-Light.woff") format("woff"), url("../fonts/BrandonText-Light.ttf") format("truetype"), url("../fonts/BrandonText-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrandonText-Bold";
  src: url("../fonts/BrandonText-Bold.eot");
  src: local("☺"), url("../fonts/BrandonText-Bold.woff") format("woff"), url("../fonts/BrandonText-Bold.ttf") format("truetype"), url("../fonts/BrandonText-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrandonText-Regular";
  src: url("../fonts/BrandonText-Regular.eot");
  src: local("☺"), url("../fonts/BrandonText-Regular.woff") format("woff"), url("../fonts/BrandonText-Regular.ttf") format("truetype"), url("../fonts/BrandonText-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrandonText-Regular";
  src: url("../fonts/BrandonText-Regular.eot");
  src: local("☺"), url("../fonts/BrandonText-Regular.woff") format("woff"), url("../fonts/BrandonText-Regular.ttf") format("truetype"), url("../fonts/BrandonText-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "BrandonText-Regular";
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.section {
  padding: 50px 0;
}

.txt__yellow {
  color: #f58632;
}

input {
  outline: none;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1199px) {
  header .nav .navbar .nav__item {
    margin-left: 40px;
  }
  .banner .banner__body .right__side .banner__img {
    max-width: 670px;
  }
  .banner .banner__body .left__side .heading,
  .banner .banner__body .left__side .section__heading,
  .banner .banner__body .left__side .section__heading {
    font-size: 35px;
    line-height: 50px;
  }
  .portfolio .section__body .heading,
  .portfolio .section__body .section__heading,
  .portfolio .section__body .section__heading {
    padding: 23px 0 32px;
    font-size: 29px;
  }
  .footer .footer__form .footer__col .footer__nav {
    font-size: 23px;
  }
  .facility__section .facility .midLine {
    left: 45px;
  }
}

@media screen and (max-width: 991px) {
  .nav {
    display: none;
  }
  .banner .banner__head .Notice {
    width: 100%;
  }
  .banner .banner__body .left__side .heading,
  .banner .banner__body .left__side .section__heading {
    font-size: 27px;
  }
  .banner .banner__body .left__side .disc {
    font-size: 16px;
  }
  .banner .banner__body .left__side .banner__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .facility__section .facility .midLine {
    left: 37px;
  }
  .facility__section .facility .facility__wrapper .facility__title {
    font-size: 18px;
  }
  .welcome .welcome__section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .welcome .welcome__section .section__left {
    display: block;
  }
  .welcome .welcome__section .section_right {
    width: 100%;
    display: block;
  }
  .welcome .welcome__section .section_right .section__heading {
    font-size: 50px;
    padding-bottom: 30px;
  }
  .welcome .welcome__section .section_right .section__heading br {
    display: none;
  }
  .services2 {
    background-size: cover;
  }
  .services2 .ourService {
    padding: 10px 0;
  }
  .portfolio .section__head {
    padding: 30px 0;
  }
  .portfolio .section__head .disc {
    margin-bottom: 0;
  }
  .portfolio .section__body .heading,
  .portfolio .section__body .section__heading,
  .portfolio .section__body .section__heading {
    padding: 22px 0 32px;
    font-size: 26px;
  }
  .contactUs {
    padding-top: 50px;
    padding-bottom: 25px;
    background-size: 100%;
  }
  .contactUs .contactUs__wrapper .wrapper__heading {
    font-size: 26px;
    font-weight: 500;
    padding: 15px 0;
  }
  .contactUs .contactUs__wrapper .country {
    padding: 10px 0;
  }
  .footer__form .footer__col {
    margin-bottom: 15px;
  }
  .card--rotate-long::before {
    height: 526%;
  }
}

@media screen and (max-width: 991px) {
  .header .toggle {
    display: block;
  }
  .banner .banner__head .Notice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner .banner__body .left__side .heading br, .banner .banner__body .left__side .section__heading br,
  .banner .banner__body .left__side .section__heading br {
    display: none;
  }
  .banner__body .right__side {
    margin: 50px auto 0;
  }
  .facility__section {
    padding: 50px 0 0 0;
  }
  .facility__section .facility {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .facility__section .facility .facility__wrapper {
    width: 50%;
    margin: 0 auto 70px;
  }
  .facility__section .facility .facility__wrapper .midLine {
    display: none;
  }
  .welcome .section__left .card__wrapper .card {
    max-width: 437px;
  }
  .services2 .section__body .card .card__wrapper {
    max-width: 475px;
  }
  .services2 .section__body .software {
    max-width: 475px;
  }
  .portfolio .section__head .disc {
    font-size: 20px;
  }
  .portfolio .section__body .heading,
  .portfolio .section__body .section__heading,
  .portfolio .section__body .section__heading {
    font-size: 16px;
    font-weight: 700;
  }
  .footer .footer__form .footer__col .email .email__btn {
    width: auto;
  }
  .facility__section .facility .facility__wrapper {
    width: auto;
  }
  .contactUs .contactUs__wrapper .country .country__img {
    padding: 5px;
  }
  .facility {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 575px) {
  body {
    overflow-x: hidden;
  }
  .banner .banner__head .Notice .btn {
    display: none;
  }
  .banner .banner__body .right__side .banner__img {
    right: 0;
  }
  .facility {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .contactUs {
    display: none;
  }
  .welcome {
    text-align: center;
  }
  .welcome__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .welcome__section .section__left {
    padding-left: 0;
    padding-right: 0;
  }
  .welcome__section .card__wrapper {
    text-align: center;
  }
  .welcome .section_right {
    padding-left: 0;
  }
  .welcome .section__left .card__wrapper {
    padding: 0 0 20px 0;
  }
  .welcome .section_right .heading--black,
  .welcome .section_right .heading--large,
  .welcome .welcome__section .section_right .section__heading {
    font-size: 45px;
    line-height: 65px;
  }
  .footer__form .footer__col {
    line-height: 35px;
  }
  .footer .footer__form .footer__col .email .email__label {
    height: 112%;
    width: 39%;
  }
  .footer .footer__form .footer__col .email {
    padding: 3px 10px;
  }
  .card--rotate-long::before {
    height: 526%;
  }
  .services2 .section__head .title {
    text-align-last: center;
  }
}
/*# sourceMappingURL=style.css.map */